$themecolor:mediumaquamarine;
$errorcolor:#f44336;
$textcolor:rgba(0, 0, 0, 0.54);

//Forgot password design
.dialog-forgot-password {
  height: 500px !important;
  width: 350px !important;
}
.mat-dialog-container {
  padding: 0px !important;
  border-radius: 40px !important;
  border: white ridge 10px !important;
}
.fpdialog-header {
  position: relative;
  margin: 0px;
  background-color: mediumaquamarine;
  height: 80px;
  width: 100%;
}
.fpdialog-header span {
  color: white;
  font-size: 1.3em;
  margin: auto;
}
.fpdialog-footer {
  position: relative;
  margin: 0px;
  background-color: black;
  border-radius: 0px 0px 30px 30px;
  height: 80px;
  width: 100%;
}
.fpdialog-footer p {
  color: white;
  font-size: 0.9em;
  margin: auto;
}
.fpdialog-footer span {
  color: $themecolor;
}

.fpdialog-input-full-width {
  width: 100%;
  margin-bottom: 10px;
}
.fpdialog {
  padding: 20px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.fpdialog-form-input {
  position: relative;
  margin: 0px;
  background-color: white;
  height: calc(100% - 160px);
}
.fpdialog-text {
  color: $textcolor;
  font-size: 0.9em;
  margin-bottom: 40px;
}
.fpdialog-btn {
  background-color: mediumaquamarine;
  color: white;
  font-size: 0.8em;
  margin: 20px 0px 10px 0px !important;
}
