<div class="dialog-forgot-password">
    <div class="row fpdialog-header w-100">
        <span>Forgot Password</span>
    </div>
    <div class="row fpdialog-form-input w-100">
        <div class="fpdialog">
            <span class="fpdialog-text">Enter your registered email ID, we will send you the password reset link.</span>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="fpdialog-input-full-width">
                    <input matInput placeholder="Email" formControlName="email" autocomplete="off">
                    <mat-hint>e:g music@audio.com</mat-hint>
                    <mat-error
                        *ngIf="forgotPasswordForm.get('email').hasError('email') && !forgotPasswordForm.get('email').hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <button type="submit" mat-stroked-button class="fpdialog-input-full-width fpdialog-no-outline fpdialog-btn"
                    [disabled]="!forgotPasswordForm.valid">Submit</button>
            </form>
        </div>
    </div>
    <div class="row fpdialog-footer">
        <p>
            <button mat-icon-button (click)="onNoClick()">
                <mat-icon>backspace</mat-icon>
            </button>
            back</p>
    </div>
</div>
<!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->